In [1]:
%load_ext autoreload
%autoreload 2

In [460]:
import pandas as pd
import jax.numpy as jnp
import glob
import data_loading
import eval

In [461]:
# load sample lobster data
message_paths = glob.glob('data/*message*.csv')
book_paths = glob.glob('data/*orderbook*.csv')

In [462]:
m = data_loading.load_message_df(message_paths[0])
b = data_loading.load_book_df(book_paths[0])

In [9]:
m

                   time  event_type   order_id  size    price  direction
0       34200.015105074           4   15818974     4  5794000          1
1        34200.05990197           4   15818974   300  5794000          1
2       34200.113246707           5          0     1  5795100          1
3       34200.113246707           5          0     1  5795000          1
4       34200.113246707           5          0     1  5794900          1
...                 ...         ...        ...   ...      ...        ...
147911  57599.544131783           1  287157290   300  5655600         -1
147912  57599.544132627           1  287157291   200  5655600         -1
147913  57599.544133264           1  287157292   300  5655600         -1
147914  57599.582154048           3  287027555   100  5649700          1
147915  57599.871751084           3  287151822   100  5655000         -1

[147916 rows x 6 columns]

In [72]:
eval.time_to_first_fill(m).mean()

17.77700116925748

In [71]:
eval.time_to_cancel(m).mean()

7.965471268527362

In [97]:
b

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,5802300,100,5794000,496,5804300,100,5787000,400,5805000,100,...,5762600,100,5880000,100,5732000,20,5892600,100,5700000,100
1,5802300,100,5794000,196,5804300,100,5787000,400,5805000,100,...,5762600,100,5880000,100,5732000,20,5892600,100,5700000,100
2,5802300,100,5794000,196,5804300,100,5787000,400,5805000,100,...,5762600,100,5880000,100,5732000,20,5892600,100,5700000,100
3,5802300,100,5794000,196,5804300,100,5787000,400,5805000,100,...,5762600,100,5880000,100,5732000,20,5892600,100,5700000,100
4,5802300,100,5794000,196,5804300,100,5787000,400,5805000,100,...,5762600,100,5880000,100,5732000,20,5892600,100,5700000,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147911,5652200,42,5651200,200,5655000,200,5651100,100,5655600,2200,...,5649400,100,5657000,1800,5649200,300,5657500,100,5649100,100
147912,5652200,42,5651200,200,5655000,200,5651100,100,5655600,2400,...,5649400,100,5657000,1800,5649200,300,5657500,100,5649100,100
147913,5652200,42,5651200,200,5655000,200,5651100,100,5655600,2700,...,5649400,100,5657000,1800,5649200,300,5657500,100,5649100,100
147914,5652200,42,5651200,200,5655000,200,5651100,100,5655600,2700,...,5649400,100,5657000,1800,5649200,300,5657500,100,5649100,100
147915,5652200,42,5651200,200,5655000,100,5651100,100,5655600,2700,...,5649400,100,5657000,1800,5649200,300,5657500,100,5649100,100

In [80]:
eval.l1_volume(m, b)

        ask_vol  bid_vol                          time_weight
0           100      496                                  NaN
1           100      196  0.000001914408993084087627622518347
2           100      196  0.000002279703581393350855837805738
3           100      196                                    0
4           100      196                                    0
...         ...      ...                                  ...
147911       42      200    8.290649081095105334056372105E-11
147912       42      200    3.606859703321788093785349514E-11
147913       42      200    2.722238899308032009172118057E-11
147914       42      200  0.000001624829783155234450326830761
147915       42      200   0.00001237601752784157803531193412

[147916 rows x 3 columns]

In [96]:
eval.total_volume(m, b, 1)

        ask_vol  bid_vol                          time_weight
0           100  5802300                                  NaN
1           100  5802300  0.000001914408993084087627622518347
2           100  5802300  0.000002279703581393350855837805738
3           100  5802300                                    0
4           100  5802300                                    0
...         ...      ...                                  ...
147911       42  5652200    8.290649081095105334056372105E-11
147912       42  5652200    3.606859703321788093785349514E-11
147913       42  5652200    2.722238899308032009172118057E-11
147914       42  5652200  0.000001624829783155234450326830761
147915       42  5652200   0.00001237601752784157803531193412

[147916 rows x 3 columns]

In [115]:
eval.limit_order_depth(m, b)

(10        2450.0
 12        3050.0
 14        3350.0
 16        3550.0
 18        3550.0
            ...
 147909    3900.0
 147910    3900.0
 147911    3900.0
 147912    3900.0
 147913    3900.0
 Length: 37136, dtype: float64,
 7         4150.0
 8         6950.0
 9         8150.0
 11        6450.0
 13        6550.0
            ...
 147889    3950.0
 147891    2600.0
 147892    3700.0
 147894    3200.0
 147896    4000.0
 Length: 34122, dtype: float64)

In [116]:
eval.cancellation_depth(m, b)

(45         9250.0
 47        11650.0
 76         3050.0
 77         2750.0
 81         3050.0
            ...
 147876     2850.0
 147897     3300.0
 147898     2200.0
 147904     3900.0
 147915     3300.0
 Length: 33222, dtype: float64,
 44        25650.0
 46        23250.0
 69         7550.0
 70        14550.0
 71         9550.0
            ...
 147883     3800.0
 147887     4000.0
 147893     2600.0
 147903     1100.0
 147914     2000.0
 Length: 31724, dtype: float64)

In [125]:
eval._order_levels(m, b, (1,2,3))

(3          1
 39         1
 42         1
 43         1
 47         1
           ..
 136005    10
 136019    10
 136025    10
 136113    10
 136217    10
 Length: 49808, dtype: int64,
 0          1
 40         1
 44         1
 64         1
 65         1
           ..
 135877    10
 136010    10
 136030    10
 136053    10
 136194    10
 Length: 45838, dtype: int64)

In [127]:
eval.cancel_order_levels(m, b)

(8         1
 10        1
 12        1
 47        1
 52        1
          ..
 63101    10
 63371    10
 63406    10
 63420    10
 64446    10
 Length: 12672, dtype: int64,
 73        1
 77        1
 108       1
 124       1
 352       1
          ..
 63942    10
 64079    10
 64143    10
 64264    10
 64560    10
 Length: 11716, dtype: int64)

In [129]:
b

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,5802300,100,5794000,496,5804300,100,5787000,400,5805000,100,...,5762600,100,5880000,100,5732000,20,5892600,100,5700000,100
1,5802300,100,5794000,196,5804300,100,5787000,400,5805000,100,...,5762600,100,5880000,100,5732000,20,5892600,100,5700000,100
2,5802300,100,5794000,196,5804300,100,5787000,400,5805000,100,...,5762600,100,5880000,100,5732000,20,5892600,100,5700000,100
3,5802300,100,5794000,196,5804300,100,5787000,400,5805000,100,...,5762600,100,5880000,100,5732000,20,5892600,100,5700000,100
4,5802300,100,5794000,196,5804300,100,5787000,400,5805000,100,...,5762600,100,5880000,100,5732000,20,5892600,100,5700000,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147911,5652200,42,5651200,200,5655000,200,5651100,100,5655600,2200,...,5649400,100,5657000,1800,5649200,300,5657500,100,5649100,100
147912,5652200,42,5651200,200,5655000,200,5651100,100,5655600,2400,...,5649400,100,5657000,1800,5649200,300,5657500,100,5649100,100
147913,5652200,42,5651200,200,5655000,200,5651100,100,5655600,2700,...,5649400,100,5657000,1800,5649200,300,5657500,100,5649100,100
147914,5652200,42,5651200,200,5655000,200,5651100,100,5655600,2700,...,5649400,100,5657000,1800,5649200,300,5657500,100,5649100,100
147915,5652200,42,5651200,200,5655000,100,5651100,100,5655600,2700,...,5649400,100,5657000,1800,5649200,300,5657500,100,5649100,100

In [128]:
eval.spread(b)

0         8300
1         8300
2         8300
3         8300
4         8300
          ...
147911    1000
147912    1000
147913    1000
147914    1000
147915    1000
Length: 147916, dtype: int64

In [188]:
ret = eval.mid_returns(m, b, '1min')
ret

time
0 days 09:31:00         NaN
0 days 09:32:00    0.000701
0 days 09:33:00   -0.001393
0 days 09:34:00    0.000329
0 days 09:35:00    0.000251
                     ...
0 days 15:56:00    0.000390
0 days 15:57:00    0.000425
0 days 15:58:00   -0.000354
0 days 15:59:00    0.001275
0 days 16:00:00    0.000416
Length: 390, dtype: float64

In [189]:
eval.time_to_first_fill(m)

order_id
858821       12.002251
2175511      12.002251
2176461      12.002898
4496151      11.939107
4773351      11.969646
               ...
287076073     0.102907
287081956     0.000316
287081969     0.000234
287091827     0.275303
287107097     0.114062
Length: 5480, dtype: float64

In [174]:
eval.autocorr(ret)

array([-0.13855764])

In [182]:
eval.autocorr(ret**2, 10, alpha=None)

array([ 1.00000000e+00,  3.97760808e-01,  1.46716661e-01,  1.21313544e-01,
        3.83928983e-02, -1.50425941e-02,  6.71807872e-02,  1.02656084e-01,
        6.61179836e-02,  3.98363877e-04, -2.46290823e-02])

In [183]:
eval.l1_volume(m, b)

        ask_vol  bid_vol                          time_weight
0           100      496                                  NaN
1           100      196  0.000001914408993084087627622518347
2           100      196  0.000002279703581393350855837805738
3           100      196                                    0
4           100      196                                    0
...         ...      ...                                  ...
147911       42      200    8.290649081095105334056372105E-11
147912       42      200    3.606859703321788093785349514E-11
147913       42      200    2.722238899308032009172118057E-11
147914       42      200  0.000001624829783155234450326830761
147915       42      200   0.00001237601752784157803531193412

[147916 rows x 3 columns]

In [194]:
eval.total_volume(m, b, 2)

,ask_vol,bid_vol,time_weight
time,,,
0 days 09:30:00.015105074,596,11596300,NaN
0 days 09:30:00.059901970,296,11596300,0.000001914408993084087627622518347
0 days 09:30:00.113246707,296,11596300,0.000002279703581393350855837805738
0 days 09:30:00.113246707,296,11596300,0
0 days 09:30:00.113246707,296,11596300,0
...,...,...,...
0 days 15:59:59.544131783,242,11303400,8.290649081095105334056372105E-11
0 days 15:59:59.544132627,242,11303400,3.606859703321788093785349514E-11
0 days 15:59:59.544133264,242,11303400,2.722238899308032009172118057E-11
0 days 15:59:59.582154048,242,11303400,0.000001624829783155234450326830761
0 days 15:59:59.871751084,242,11303400,0.00001237601752784157803531193412

In [ ]:
# TODO: how to calculate by time?
#       should be able to do this by calculating on whole day data and then grouping
#       or by calculating for shorter time periods and then grouping and aggregating

In [490]:
loader = data_loading.Simple_Loader('data_test_real', 'data_test_gen')

In [574]:
eval.limit_order_depth(m_real, b_real)

(time
 2012-06-21 09:30:00.202322801    2450.0
 2012-06-21 09:30:00.202322801    3050.0
 2012-06-21 09:30:00.202322801    3350.0
 2012-06-21 09:30:00.202322801    3550.0
 2012-06-21 09:30:00.202322801    3550.0
                                   ...
 2012-06-21 15:59:59.544126313    3900.0
 2012-06-21 15:59:59.544129843    3900.0
 2012-06-21 15:59:59.544131783    3900.0
 2012-06-21 15:59:59.544132627    3900.0
 2012-06-21 15:59:59.544133264    3900.0
 Length: 37136, dtype: float64,
 time
 2012-06-21 09:30:00.154178213    4150.0
 2012-06-21 09:30:00.173594288    6950.0
 2012-06-21 09:30:00.202322801    8150.0
 2012-06-21 09:30:00.202322801    6450.0
 2012-06-21 09:30:00.202322801    6550.0
                                   ...
 2012-06-21 15:59:58.844529892    3950.0
 2012-06-21 15:59:58.958997603    2600.0
 2012-06-21 15:59:59.009636180    3700.0
 2012-06-21 15:59:59.122827419    3200.0
 2012-06-21 15:59:59.146213451    4000.0
 Length: 34122, dtype: float64)

In [ ]:
### FIRST TODO: think about metric conditioning! (relevant for stylized facts here but also for distributional metrics)
#               i.e. find a principled way to condition not only on time but other factors in the input data?
#               (--> need to pass input data used to condition generation to metric functions?)
#               or can we conditon only on part of the realized data? e.g.

In [ ]:
# think about final output format --> how to handle multiple generations of the same time period?
# where to take means, where to evaluate distributions, etc.

# which divergence metrics to use to compare real and generated distributions?

In [580]:
# currently: one battery of metrics for a single data series (real or generated)
# could do (sort of) unconditional comparison (only conditonal on time of day): calc metrics for time of day and compare these distributions

eval.compute_metrics(loader)

,spread,mid_returns_1min,ask_vol,bid_vol,time_weight,ask_vol_10,bid_vol_10,time_weight,ask_limit_depth,bid_limit_depth,ask_cancel_depth,bid_cancel_depth,ask_limit_level,bid_limit_level,ask_cancel_level,bid_cancel_level
time,,,,,,,,,,,,,,,,
2012-06-21 09:35:00,8376.626367,-0.000121,241.099021,190.697179,0.000007,1498.368451,5.782912e+07,0.000007,5917.887029,6669.811321,6383.293269,6753.533569,2.035565,2.333333,2.160839,2.637037
2012-06-21 09:40:00,5430.894495,-0.000610,159.560780,134.629817,0.000003,1240.393349,5.767007e+07,0.000003,6813.548387,3269.740475,7475.000000,3095.104108,3.077419,1.569851,3.455939,1.959437
2012-06-21 09:45:00,5097.472119,0.000010,101.460967,103.371747,0.000010,895.565056,5.758533e+07,0.000010,5591.634981,3803.703704,5707.287449,3898.204420,3.965779,2.751323,4.217573,3.032432
2012-06-21 09:50:00,4264.502470,0.000328,132.516584,144.983063,0.000009,1383.552576,5.765170e+07,0.000009,5028.459821,4146.800000,4946.596244,4200.896861,3.339286,3.388000,3.305361,3.590909
2012-06-21 09:55:00,3642.405063,-0.000142,133.750730,104.103213,0.000006,852.582278,5.764077e+07,0.000006,3340.394089,2966.084788,3324.000000,2974.181360,2.878489,3.049875,3.300172,3.650386
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012-06-21 15:45:00,2284.818805,-0.000117,177.146915,200.842311,0.000006,1150.606268,5.649014e+07,0.000006,2060.957447,2310.307018,2381.923077,2404.973822,3.380851,3.789474,4.398458,4.333333
2012-06-21 15:50:00,2314.896266,-0.000110,126.977593,265.901660,0.000005,1337.497510,5.646090e+07,0.000005,2150.838415,1761.864407,2495.808967,2041.184971,3.042683,2.803874,3.661538,3.661765
2012-06-21 15:55:00,1574.562018,-0.000285,224.134198,154.881570,0.000005,1303.623686,5.643338e+07,0.000005,1360.918675,1492.100840,1739.768340,1702.589641,2.697289,3.292437,3.778420,3.908730
2012-06-21 16:00:00,1601.710461,0.000386,208.941001,219.823252,0.000003,1526.430342,5.646042e+07,0.000003,1362.417437,1341.758242,1641.060904,1573.520486,2.673712,2.924176,3.426070,3.682443
2012-06-21 16:05:00,NaN,0.000416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [491]:
m_real, b_real, m_gen, b_gen = loader[0]

In [396]:
for i in loader:
    print(i)

(                                time  event_type   order_id  size    price  \
0      2012-06-21 09:30:00.015105074           4   15818974     4  5794000
1      2012-06-21 09:30:00.005990197           4   15818974   300  5794000
2      2012-06-21 09:30:00.113246707           5          0     1  5795100
3      2012-06-21 09:30:00.113246707           5          0     1  5795000
4      2012-06-21 09:30:00.113246707           5          0     1  5794900
...                              ...         ...        ...   ...      ...
147911 2012-06-21 15:59:59.544131783           1  287157290   300  5655600
147912 2012-06-21 15:59:59.544132627           1  287157291   200  5655600
147913 2012-06-21 15:59:59.544133264           1  287157292   300  5655600
147914 2012-06-21 15:59:59.582154048           3  287027555   100  5649700
147915 2012-06-21 15:59:59.871751084           3  287151822   100  5655000

        direction
0               1
1               1
2               1
3               1
4               1
...           ...
147911         -1
147912         -1
147913         -1
147914          1
147915         -1

[147916 rows x 6 columns],              0    1        2    3        4    5        6    7        8     9   \
0       5802300  100  5794000  496  5804300  100  5787000  400  5805000   100
1       5802300  100  5794000  196  5804300  100  5787000  400  5805000   100
2       5802300  100  5794000  196  5804300  100  5787000  400  5805000   100
3       5802300  100  5794000  196  5804300  100  5787000  400  5805000   100
4       5802300  100  5794000  196  5804300  100  5787000  400  5805000   100
...         ...  ...      ...  ...      ...  ...      ...  ...      ...   ...
147911  5652200   42  5651200  200  5655000  200  5651100  100  5655600  2200
147912  5652200   42  5651200  200  5655000  200  5651100  100  5655600  2400
147913  5652200   42  5651200  200  5655000  200  5651100  100  5655600  2700
147914  5652200   42  5651200  200  5655000  200  5651100  100  5655600  2700
147915  5652200   42  5651200  200  5655000  100  5651100  100  5655600  2700

        ...       30   31       32    33       34   35       36   37       38  \
0       ...  5762600  100  5880000   100  5732000   20  5892600  100  5700000
1       ...  5762600  100  5880000   100  5732000   20  5892600  100  5700000
2       ...  5762600  100  5880000   100  5732000   20  5892600  100  5700000
3       ...  5762600  100  5880000   100  5732000   20  5892600  100  5700000
4       ...  5762600  100  5880000   100  5732000   20  5892600  100  5700000
...     ...      ...  ...      ...   ...      ...  ...      ...  ...      ...
147911  ...  5649400  100  5657000  1800  5649200  300  5657500  100  5649100
147912  ...  5649400  100  5657000  1800  5649200  300  5657500  100  5649100
147913  ...  5649400  100  5657000  1800  5649200  300  5657500  100  5649100
147914  ...  5649400  100  5657000  1800  5649200  300  5657500  100  5649100
147915  ...  5649400  100  5657000  1800  5649200  300  5657500  100  5649100

         39
0       100
1       100
2       100
3       100
4       100
...     ...
147911  100
147912  100
147913  100
147914  100
147915  100

[147916 rows x 40 columns], (                                time  event_type   order_id  size    price  \
0      2012-06-21 09:30:00.015105074           4   15818974     4  5794000
1      2012-06-21 09:30:00.005990197           4   15818974   300  5794000
2      2012-06-21 09:30:00.113246707           5          0     1  5795100
3      2012-06-21 09:30:00.113246707           5          0     1  5795000
4      2012-06-21 09:30:00.113246707           5          0     1  5794900
...                              ...         ...        ...   ...      ...
147911 2012-06-21 15:59:59.544131783           1  287157290   300  5655600
147912 2012-06-21 15:59:59.544132627           1  287157291   200  5655600
147913 2012-06-21 15:59:59.544133264           1  287157292   300  5655600
147914 2012-06-21 15:59:59.582154048           3  287027555   100  5649700
147915 2012-06-21 15:59:59.871751084           3  287151822   100  5655000

        direction
0               1
1               1
2               1
3               1
4               1
...           ...
147911         -1
147912         -1
147913         -1
147914          1
147915         -1

[147916 rows x 6 columns],                                 time  event_type   order_id  size    price  \
0      2012-06-21 09:30:00.015105074           4   15818974     4  5794000
1      2012-06-21 09:30:00.005990197           4   15818974   300  5794000
2      2012-06-21 09:30:00.113246707           5          0     1  5795100
3      2012-06-21 09:30:00.113246707           5          0     1  5795000
4      2012-06-21 09:30:00.113246707           5          0     1  5794900
...                              ...         ...        ...   ...      ...
147911 2012-06-21 15:59:59.544131783           1  287157290   300  5655600
147912 2012-06-21 15:59:59.544132627           1  287157291   200  5655600
147913 2012-06-21 15:59:59.544133264           1  287157292   300  5655600
147914 2012-06-21 15:59:59.582154048           3  287027555   100  5649700
147915 2012-06-21 15:59:59.871751084           3  287151822   100  5655000

        direction
0               1
1               1
2               1
3               1
4               1
...           ...
147911         -1
147912         -1
147913         -1
147914          1
147915         -1

[147916 rows x 6 columns]), (             0    1        2    3        4    5        6    7        8     9   \
0       5802300  100  5794000  496  5804300  100  5787000  400  5805000   100
1       5802300  100  5794000  196  5804300  100  5787000  400  5805000   100
2       5802300  100  5794000  196  5804300  100  5787000  400  5805000   100
3       5802300  100  5794000  196  5804300  100  5787000  400  5805000   100
4       5802300  100  5794000  196  5804300  100  5787000  400  5805000   100
...         ...  ...      ...  ...      ...  ...      ...  ...      ...   ...
147911  5652200   42  5651200  200  5655000  200  5651100  100  5655600  2200
147912  5652200   42  5651200  200  5655000  200  5651100  100  5655600  2400
147913  5652200   42  5651200  200  5655000  200  5651100  100  5655600  2700
147914  5652200   42  5651200  200  5655000  200  5651100  100  5655600  2700
147915  5652200   42  5651200  200  5655000  100  5651100  100  5655600  2700

        ...       30   31       32    33       34   35       36   37       38  \
0       ...  5762600  100  5880000   100  5732000   20  5892600  100  5700000
1       ...  5762600  100  5880000   100  5732000   20  5892600  100  5700000
2       ...  5762600  100  5880000   100  5732000   20  5892600  100  5700000
3       ...  5762600  100  5880000   100  5732000   20  5892600  100  5700000
4       ...  5762600  100  5880000   100  5732000   20  5892600  100  5700000
...     ...      ...  ...      ...   ...      ...  ...      ...  ...      ...
147911  ...  5649400  100  5657000  1800  5649200  300  5657500  100  5649100
147912  ...  5649400  100  5657000  1800  5649200  300  5657500  100  5649100
147913  ...  5649400  100  5657000  1800  5649200  300  5657500  100  5649100
147914  ...  5649400  100  5657000  1800  5649200  300  5657500  100  5649100
147915  ...  5649400  100  5657000  1800  5649200  300  5657500  100  5649100

         39
0       100
1       100
2       100
3       100
4       100
...     ...
147911  100
147912  100
147913  100
147914  100
147915  100

[147916 rows x 40 columns],              0    1        2    3        4    5        6    7        8     9   \
0       5802300  100  5794000  496  5804300  100  5787000  400  5805000   100
1       5802300  100  5794000  196  5804300  100  5787000  400  5805000   100
2       5802300  100  5794000  196  5804300  100  5787000  400  5805000   100
3       5802300  100  5794000  196  5804300  100  5787000  400  5805000   100
4       5802300  100  5794000  196  5804300  100  5787000  400  5805000   100
...         ...  ...      ...  ...      ...  ...      ...  ...      ...   ...
147911  5652200   42  5651200  200  5655000  200  5651100  100  5655600  2200
147912  5652200   42  5651200  200  5655000  200  5651100  100  5655600  2400
147913  5652200   42  5651200  200  5655000  200  5651100  100  5655600  2700
147914  5652200   42  5651200  200  5655000  200  5651100  100  5655600  2700
147915  5652200   42  5651200  200  5655000  100  5651100  100  5655600  2700

        ...       30   31       32    33       34   35       36   37       38  \
0       ...  5762600  100  5880000   100  5732000   20  5892600  100  5700000
1       ...  5762600  100  5880000   100  5732000   20  5892600  100  5700000
2       ...  5762600  100  5880000   100  5732000   20  5892600  100  5700000
3       ...  5762600  100  5880000   100  5732000   20  5892600  100  5700000
4       ...  5762600  100  5880000   100  5732000   20  5892600  100  5700000
...     ...      ...  ...      ...   ...      ...  ...      ...  ...      ...
147911  ...  5649400  100  5657000  1800  5649200  300  5657500  100  5649100
147912  ...  5649400  100  5657000  1800  5649200  300  5657500  100  5649100
147913  ...  5649400  100  5657000  1800  5649200  300  5657500  100  5649100
147914  ...  5649400  100  5657000  1800  5649200  300  5657500  100  5649100
147915  ...  5649400  100  5657000  1800  5649200  300  5657500  100  5649100

         39
0       100
1       100
2       100
3       100
4       100
...     ...
147911  100
147912  100
147913  100
147914  100
147915  100

[147916 rows x 40 columns]))

In [ ]:
ask_lvls, bid_lvls = eval.limit_order_levels(m_real, b_real)

order_prices (71258,)
level_prices (71258, 20)
(71258, 2)

In [ ]:
ask_lvls

time
2012-06-21 09:30:00.202322801    1
2012-06-21 09:30:00.202322801    2
2012-06-21 09:30:00.202322801    3
2012-06-21 09:30:00.202322801    4
2012-06-21 09:30:00.202322801    4
                                ..
2012-06-21 15:59:59.544126313    3
2012-06-21 15:59:59.544129843    3
2012-06-21 15:59:59.544131783    3
2012-06-21 15:59:59.544132627    3
2012-06-21 15:59:59.544133264    3
Length: 37136, dtype: int64

In [476]:
m_real

                   time  event_type   order_id  size    price  direction
0       34200.015105074           4   15818974     4  5794000          1
1        34200.05990197           4   15818974   300  5794000          1
2       34200.113246707           5          0     1  5795100          1
3       34200.113246707           5          0     1  5795000          1
4       34200.113246707           5          0     1  5794900          1
...                 ...         ...        ...   ...      ...        ...
147911  57599.544131783           1  287157290   300  5655600         -1
147912  57599.544132627           1  287157291   200  5655600         -1
147913  57599.544133264           1  287157292   300  5655600         -1
147914  57599.582154048           3  287027555   100  5649700          1
147915  57599.871751084           3  287151822   100  5655000         -1

[147916 rows x 6 columns]

In [466]:
b_real

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,5802300,100,5794000,496,5804300,100,5787000,400,5805000,100,...,5762600,100,5880000,100,5732000,20,5892600,100,5700000,100
1,5802300,100,5794000,196,5804300,100,5787000,400,5805000,100,...,5762600,100,5880000,100,5732000,20,5892600,100,5700000,100
2,5802300,100,5794000,196,5804300,100,5787000,400,5805000,100,...,5762600,100,5880000,100,5732000,20,5892600,100,5700000,100
3,5802300,100,5794000,196,5804300,100,5787000,400,5805000,100,...,5762600,100,5880000,100,5732000,20,5892600,100,5700000,100
4,5802300,100,5794000,196,5804300,100,5787000,400,5805000,100,...,5762600,100,5880000,100,5732000,20,5892600,100,5700000,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147911,5652200,42,5651200,200,5655000,200,5651100,100,5655600,2200,...,5649400,100,5657000,1800,5649200,300,5657500,100,5649100,100
147912,5652200,42,5651200,200,5655000,200,5651100,100,5655600,2400,...,5649400,100,5657000,1800,5649200,300,5657500,100,5649100,100
147913,5652200,42,5651200,200,5655000,200,5651100,100,5655600,2700,...,5649400,100,5657000,1800,5649200,300,5657500,100,5649100,100
147914,5652200,42,5651200,200,5655000,200,5651100,100,5655600,2700,...,5649400,100,5657000,1800,5649200,300,5657500,100,5649100,100
147915,5652200,42,5651200,200,5655000,100,5651100,100,5655600,2700,...,5649400,100,5657000,1800,5649200,300,5657500,100,5649100,100

In [527]:
eval.mid_returns(m_real, b_real)

time
2012-06-21 09:31:00         NaN
2012-06-21 09:32:00    0.000701
2012-06-21 09:33:00   -0.001393
2012-06-21 09:34:00    0.000329
2012-06-21 09:35:00    0.000251
                         ...
2012-06-21 15:56:00    0.000390
2012-06-21 15:57:00    0.000425
2012-06-21 15:58:00   -0.000354
2012-06-21 15:59:00    0.001275
2012-06-21 16:00:00    0.000416
Freq: min, Length: 390, dtype: float64

In [534]:
m_real.iloc[1163]

time          2012-06-21 09:31:38.384531913
event_type                                1
order_id                           19519131
size                                    100
price                               5809400
direction                                -1
Name: 1163, dtype: object

In [533]:
b_real.iloc[1163]

0     5795900
1         500
2     5775600
3         200
4     5798900
5          25
6     5775500
7         100
8     5799300
9           2
10    5775400
11        100
12    5799500
13         50
14    5775000
15        400
16    5799800
17          5
18    5773000
19        100
20    5800000
21       2937
22    5770000
23          7
24    5800100
25         10
26    5767500
27        100
28    5801000
29         10
30    5766000
31        100
32    5805000
33        100
34    5765000
35          5
36    5809400
37        100
38    5762500
39          1
Name: 1163, dtype: int64

In [477]:
m_real.loc[m_real.event_type == 3].price.max()

5809400

In [535]:
b_real.loc[m_real.loc[m_real.event_type == 3].index].max()

0     5798900
1        2700
2     5791200
3        2191
4     5799500
5        1500
6     5790000
7        2101
8     5799800
9        2700
10    5789900
11       2320
12    5800000
13       2537
14    5787000
15       2320
16    5800100
17       2937
18    5785000
19       2320
20    5801000
21       2937
22    5782100
23       2320
24    5802300
25       2937
26    5780000
27       2410
28    5805000
29       2937
30    5779900
31       2310
32    5806300
33       2937
34    5774500
35       2410
36    5809600
37       2945
38    5772400
39       2410
dtype: int64

In [ ]:
# ISSUE: some delete (type 3) messages are not in the book data --> outside levels but still in messages???

In [510]:
eval.autocorr(eval.mid_returns(m_real, b_real, '1min'), 4)
# eval.mid_returns(m_real, b_real, '5min')

array([ 1.        , -0.13855764, -0.02199417,  0.00926521,  0.00570809])

In [432]:
b_real.loc[m_real.loc[m_real.event_type == 3].index]

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
44,5798900,25,5791200,100,5799500,50,5790000,41,5799800,5,...,5779900,1,5805000,100,5771800,100,5806300,100,5766000,100
45,5798900,25,5791200,100,5799500,50,5790000,41,5799800,5,...,5779900,1,5806300,100,5771800,100,5806700,100,5766000,100
46,5798900,25,5791200,100,5799500,50,5790000,41,5799800,5,...,5779900,1,5806300,100,5766000,100,5806700,100,5762600,100
47,5798900,25,5791200,100,5799500,50,5790000,41,5799800,5,...,5779900,1,5806300,100,5766000,100,5809600,50,5762600,100
69,5797900,210,5791200,100,5798900,25,5790000,41,5799500,50,...,5775100,110,5805000,100,5774500,3,5806300,100,5772400,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147898,5655600,200,5651200,200,5655700,100,5651100,100,5656000,100,...,5649600,100,5657700,800,5649400,100,5657800,100,5649200,300
147903,5652200,42,5651200,200,5655000,200,5651100,100,5655600,200,...,5649400,100,5657000,1800,5649200,300,5657500,100,5649100,100
147904,5652200,42,5651200,200,5655000,200,5651100,100,5655600,100,...,5649400,100,5657000,1800,5649200,300,5657500,100,5649100,100
147914,5652200,42,5651200,200,5655000,200,5651100,100,5655600,2700,...,5649400,100,5657000,1800,5649200,300,5657500,100,5649100,100
147915,5652200,42,5651200,200,5655000,100,5651100,100,5655600,2700,...,5649400,100,5657000,1800,5649200,300,5657500,100,5649100,100

In [536]:
order_prices = m_real[m_real.event_type.isin((3,))]
level_prices = b_real.loc[order_prices.index, 0::2]
order_prices.index = order_prices.time
order_prices = order_prices.price

In [551]:
order_prices.iloc[0]

5769400

In [553]:
level_prices.iloc[0]

0     5798900
2     5791200
4     5799500
6     5790000
8     5799800
10    5789900
12    5800000
14    5787000
16    5800100
18    5785000
20    5801000
22    5782100
24    5802300
26    5780000
28    5804300
30    5779900
32    5805000
34    5771800
36    5806300
38    5766000
Name: 44, dtype: int64

In [549]:
(order_prices.values == level_prices.values.T).T[0]

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [537]:
import numpy as np

lvl_idx = np.argwhere((order_prices.values == level_prices.values.T).T)

In [539]:
lvl_idx.shape

(24369, 2)

In [565]:
eval._order_levels(m_real, b_real, (2,3))

(time
 2012-06-21 09:30:00.205119161     8
 2012-06-21 09:30:00.205183697    10
 2012-06-21 09:30:03.650345438     1
 2012-06-21 09:30:03.650507021     1
 2012-06-21 09:30:04.414627059     1
                                  ..
 2012-06-21 15:59:58.304148694     6
 2012-06-21 15:59:59.148979716     6
 2012-06-21 15:59:59.320522524     1
 2012-06-21 15:59:59.489629981     3
 2012-06-21 15:59:59.871751084     2
 Length: 33237, dtype: int64,
 time
 2012-06-21 09:30:00.205075239    10
 2012-06-21 09:30:00.205158699     9
 2012-06-21 09:30:02.190134797     4
 2012-06-21 09:30:02.190251279     6
 2012-06-21 09:30:02.203099603     4
                                  ..
 2012-06-21 15:59:58.401139334     5
 2012-06-21 15:59:58.836501474     7
 2012-06-21 15:59:59.014127805     4
 2012-06-21 15:59:59.458113092     4
 2012-06-21 15:59:59.582154048     6
 Length: 31743, dtype: int64)

In [569]:
cnl_lvl_ask, cnl_lvl_bid = eval.cancel_order_levels(m_real, b_real)

In [571]:
eval.mean_per_interval(cnl_lvl_ask, "5min")

time
2012-06-21 09:35:00    2.160839
2012-06-21 09:40:00    3.455939
2012-06-21 09:45:00    4.217573
2012-06-21 09:50:00    3.305361
2012-06-21 09:55:00    3.300172
                         ...
2012-06-21 15:40:00    4.931330
2012-06-21 15:45:00    4.398458
2012-06-21 15:50:00    3.661538
2012-06-21 15:55:00    3.778420
2012-06-21 16:00:00    3.426070
Freq: 5min, Length: 78, dtype: float64

In [ ]:
# provide loader fn: takes index -> returns date, real messages, real book, gen messages, (gen book)

# 
#

In [604]:
from data_loading import Simple_Loader, Lobster_Sequence, Lazy_Tuple

In [609]:
ls = Lobster_Sequence(
    "2024-01-01",
    lambda: 1,
    lambda: 2,
    (lambda: 3, lambda: 4),
    (lambda: 5, lambda: 6),
    2
)

In [612]:
tuple(ls.m_gen)

(3, 4)

In [853]:
loader = data_loading.Simple_Loader('data_test_real', 'data_test_gen', 'data_test_cond')
s = loader[0]
# s.materialize()

In [857]:
s.m_real

,time,event_type,order_id,size,price,direction
0,2012-06-21 09:30:00.015105074,4,15818974,4,5794000,1
1,2012-06-21 09:30:00.059901970,4,15818974,300,5794000,1
2,2012-06-21 09:30:00.113246707,5,0,1,5795100,1
3,2012-06-21 09:30:00.113246707,5,0,1,5795000,1
4,2012-06-21 09:30:00.113246707,5,0,1,5794900,1
...,...,...,...,...,...,...
147911,2012-06-21 15:59:59.544131783,1,287157290,300,5655600,-1
147912,2012-06-21 15:59:59.544132627,1,287157291,200,5655600,-1
147913,2012-06-21 15:59:59.544133264,1,287157292,300,5655600,-1
147914,2012-06-21 15:59:59.582154048,3,287027555,100,5649700,1
147915,2012-06-21 15:59:59.871751084,3,287151822,100,5655000,-1

In [862]:
partitioning.score_real(loader, lambda x, y: 1)

array([1])

In [868]:
scores = partitioning.score_real(
    tuple(partitioning.get_subseqs(s, time_interval='10min') for s in loader),
    lambda m, b: m.time.diff().mean()
)

In [872]:
len(scores)

1

In [875]:
partitioning.group_by_score(scores)

[Timedelta('0 days 00:00:00.098292210'), Timedelta('0 days 00:00:00.217133571'), Timedelta('0 days 00:00:00.158343273'), Timedelta('0 days 00:00:00.090068273'), Timedelta('0 days 00:00:00.125035999'), Timedelta('0 days 00:00:00.138976549'), Timedelta('0 days 00:00:00.123208587'), Timedelta('0 days 00:00:00.112410261'), Timedelta('0 days 00:00:00.156428270'), Timedelta('0 days 00:00:00.163456348'), Timedelta('0 days 00:00:00.113367037'), Timedelta('0 days 00:00:00.203282383'), Timedelta('0 days 00:00:00.295049385'), Timedelta('0 days 00:00:00.162072288'), Timedelta('0 days 00:00:00.199465790'), Timedelta('0 days 00:00:00.204993594'), Timedelta('0 days 00:00:00.246893592'), Timedelta('0 days 00:00:00.160483283'), Timedelta('0 days 00:00:00.182061350'), Timedelta('0 days 00:00:00.169065219'), Timedelta('0 days 00:00:00.297406124'), Timedelta('0 days 00:00:00.273141397'), Timedelta('0 days 00:00:00.217005387'), Timedelta('0 days 00:00:00.183154494'), Timedelta('0 days 00:00:00.147465929'), Timedelta('0 days 00:00:00.142261160'), Timedelta('0 days 00:00:00.222687830'), Timedelta('0 days 00:00:00.178742533'), Timedelta('0 days 00:00:00.244077388'), Timedelta('0 days 00:00:00.159690405'), Timedelta('0 days 00:00:00.171227060'), Timedelta('0 days 00:00:00.146974177'), Timedelta('0 days 00:00:00.207055661'), Timedelta('0 days 00:00:00.228459590'), Timedelta('0 days 00:00:00.132647982'), Timedelta('0 days 00:00:00.138266421'), Timedelta('0 days 00:00:00.118738592'), Timedelta('0 days 00:00:00.134217858'), Timedelta('0 days 00:00:00.087081168')]

In [851]:
s.b_cond

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,5802300,100,5794000,496,5804300,100,5787000,400,5805000,100,...,5762600,100,5880000,100,5732000,20,5892600,100,5700000,100
1,5802300,100,5794000,196,5804300,100,5787000,400,5805000,100,...,5762600,100,5880000,100,5732000,20,5892600,100,5700000,100
2,5802300,100,5794000,196,5804300,100,5787000,400,5805000,100,...,5762600,100,5880000,100,5732000,20,5892600,100,5700000,100
3,5802300,100,5794000,196,5804300,100,5787000,400,5805000,100,...,5762600,100,5880000,100,5732000,20,5892600,100,5700000,100
4,5802300,100,5794000,196,5804300,100,5787000,400,5805000,100,...,5762600,100,5880000,100,5732000,20,5892600,100,5700000,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147911,5652200,42,5651200,200,5655000,200,5651100,100,5655600,2200,...,5649400,100,5657000,1800,5649200,300,5657500,100,5649100,100
147912,5652200,42,5651200,200,5655000,200,5651100,100,5655600,2400,...,5649400,100,5657000,1800,5649200,300,5657500,100,5649100,100
147913,5652200,42,5651200,200,5655000,200,5651100,100,5655600,2700,...,5649400,100,5657000,1800,5649200,300,5657500,100,5649100,100
147914,5652200,42,5651200,200,5655000,200,5651100,100,5655600,2700,...,5649400,100,5657000,1800,5649200,300,5657500,100,5649100,100
147915,5652200,42,5651200,200,5655000,100,5651100,100,5655600,2700,...,5649400,100,5657000,1800,5649200,300,5657500,100,5649100,100

In [849]:
subseq = partitioning.get_subseqs(s, subseq_len=1000)

/opt/miniconda3/envs/ml/lib/python3.12/site-packages/numpy/core/fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)
/opt/miniconda3/envs/ml/lib/python3.12/site-packages/numpy/core/fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)
/opt/miniconda3/envs/ml/lib/python3.12/site-packages/numpy/core/fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [817]:
len(subseq.m_real)

148

In [766]:
s.m_gen[0]

,time,event_type,order_id,size,price,direction
0,2012-06-21 09:30:00.015105074,4,15818974,4,5794000,1
1,2012-06-21 09:30:00.059901970,4,15818974,300,5794000,1
2,2012-06-21 09:30:00.113246707,5,0,1,5795100,1
3,2012-06-21 09:30:00.113246707,5,0,1,5795000,1
4,2012-06-21 09:30:00.113246707,5,0,1,5794900,1
...,...,...,...,...,...,...
147911,2012-06-21 15:59:59.544131783,1,287157290,300,5655600,-1
147912,2012-06-21 15:59:59.544132627,1,287157291,200,5655600,-1
147913,2012-06-21 15:59:59.544133264,1,287157292,300,5655600,-1
147914,2012-06-21 15:59:59.582154048,3,287027555,100,5649700,1
147915,2012-06-21 15:59:59.871751084,3,287151822,100,5655000,-1

In [728]:
import partitioning

m_real, b_real, m_gen, b_gen = partitioning.get_subseqs(loader[0], time_interval='5min')

In [733]:
m_real()

(                              time  event_type  order_id  size    price  \
 0    2012-06-21 09:30:00.015105074           4  15818974     4  5794000
 1    2012-06-21 09:30:00.059901970           4  15818974   300  5794000
 2    2012-06-21 09:30:00.113246707           5         0     1  5795100
 3    2012-06-21 09:30:00.113246707           5         0     1  5795000
 4    2012-06-21 09:30:00.113246707           5         0     1  5794900
 ...                            ...         ...       ...   ...      ...
 1732 2012-06-21 09:34:55.668315019           3  23158746   100  5786300
 1733 2012-06-21 09:34:55.668315019           1  23165724   100  5786500
 1734 2012-06-21 09:34:55.675547545           3  23165724   100  5786500
 1735 2012-06-21 09:34:55.675547545           1  23166153   100  5786700
 1736 2012-06-21 09:34:59.008617033           1  23207675   100  5772100

       direction
 0             1
 1             1
 2             1
 3             1
 4             1
 ...         ...
 1732         -1
 1733         -1
 1734         -1
 1735         -1
 1736          1

 [1737 rows x 6 columns],
                               time  event_type  order_id  size    price  \
 1737 2012-06-21 09:35:00.097860771           1  23232944   100  5764300
 1738 2012-06-21 09:35:00.097903354           1  23232956   100  5785600
 1739 2012-06-21 09:35:00.101240563           1  23233624   100  5775000
 1740 2012-06-21 09:35:00.116535060           5         0     1  5775100
 1741 2012-06-21 09:35:00.156987865           3  23130064   100  5774500
 ...                            ...         ...       ...   ...      ...
 6092 2012-06-21 09:39:59.040538869           3  28850814   100  5773600
 6093 2012-06-21 09:39:59.042340442           3  28850832   100  5768000
 6094 2012-06-21 09:39:59.063027187           1  28851467   100  5768100
 6095 2012-06-21 09:39:59.067077137           1  28851507   100  5773600
 6096 2012-06-21 09:39:59.204418230           1  28853848   200  5774500

       direction
 1737          1
 1738         -1
 1739          1
 1740          1
 1741          1
 ...         ...
 6092         -1
 6093          1
 6094          1
 6095         -1
 6096         -1

 [4360 rows x 6 columns],
                               time  event_type  order_id  size    price  \
 6097 2012-06-21 09:40:00.443655611           3  28602794   100  5780700
 6098 2012-06-21 09:40:00.443655611           1  28875357   100  5779000
 6099 2012-06-21 09:40:00.719812894           1  28879835   100  5772400
 6100 2012-06-21 09:40:00.721688121           3  28851467   100  5768100
 6101 2012-06-21 09:40:00.744765412           3  28851507   100  5773600
 ...                            ...         ...       ...   ...      ...
 7437 2012-06-21 09:44:58.628741282           3  34037777   200  5762700
 7438 2012-06-21 09:44:58.628794930           3  34037804   100  5762700
 7439 2012-06-21 09:44:58.628838183           3  34037822   100  5762700
 7440 2012-06-21 09:44:59.589807207           3  34009935   500  5755800
 7441 2012-06-21 09:44:59.700764635           1  34089322   100  5747500

       direction
 6097         -1
 6098         -1
 6099         -1
 6100          1
 6101         -1
 ...         ...
 7437         -1
 7438         -1
 7439         -1
 7440          1
 7441          1

 [1345 rows x 6 columns],
                               time  event_type  order_id  size    price  \
 7442 2012-06-21 09:45:00.001478544           1  34096290    10  5759700
 7443 2012-06-21 09:45:00.029476614           1  34097816    30  5750700
 7444 2012-06-21 09:45:00.104541520           1  34099424   100  5759000
 7445 2012-06-21 09:45:00.104664557           3  34096290    10  5759700
 7446 2012-06-21 09:45:00.104771000           1  34099427    10  5759500
 ...                            ...         ...       ...   ...      ...
 8854 2012-06-21 09:49:58.222690790           3  38382428    30  5776200
 8855 2012-06-21 09:49:58.231165454           1  38474430    30  5775900
 8856 2012-06-21 09:49:59.698858962           1  38495647   100  5767100
 8857 2012-06-21 09:49:59.700501283           3  38272578   100  5757300
 8858 2012-06-21 09:49:59.949445663           3  38495647   100  5767100

       direction
 7442         -1
 7443          1
 7444         -1
 7445         -1
 7446         -1
 ...         ...
 8854         -1
 8855         -1
 8856         -1
 8857          1
 8858         -1

 [1417 rows x 6 columns],
                                time  event_type  order_id  size    price  \
 8859  2012-06-21 09:50:00.026559201           1  38502749    10  5761600
 8860  2012-06-21 09:50:00.026611562           1  38502756    10  5768400
 8861  2012-06-21 09:50:00.029695899           1  38503132    15  5768400
 8862  2012-06-21 09:50:00.032023735           1  38503444    11  5761300
 8863  2012-06-21 09:50:00.032079532           1  38503449    11  5768400
 ...                             ...         ...       ...   ...      ...
 10908 2012-06-21 09:54:59.295060448           3  42009154   100  5760600
 10909 2012-06-21 09:54:59.403602722           1  42674110   100  5768400
 10910 2012-06-21 09:54:59.403766773           1  42674111   100  5768400
 10911 2012-06-21 09:54:59.705341236           3  42461348   100  5757100
 10912 2012-06-21 09:54:59.707746821           1  42684190     9  5761900

        direction
 8859           1
 8860          -1
 8861          -1
 8862           1
 8863          -1
 ...          ...
 10908          1
 10909         -1
 10910         -1
 10911          1
 10912          1

 [2054 rows x 6 columns],
                                time  event_type  order_id  size    price  \
 10913 2012-06-21 09:55:00.080677070           3  42674111   100  5768400
 10914 2012-06-21 09:55:00.132184142           3  42674110   100  5768400
 10915 2012-06-21 09:55:00.132344952           1  42693975   100  5769100
 10916 2012-06-21 09:55:00.132392745           1  42693976   100  5769100
 10917 2012-06-21 09:55:00.132448818           1  42693978   100  5769100
 ...                             ...         ...       ...   ...      ...
 12643 2012-06-21 09:59:59.828189424           3  46500592     1  5758800
 12644 2012-06-21 09:59:59.828189424           1  46526250     1  5759100
 12645 2012-06-21 09:59:59.828861342           1  46526254    15  5753900
 12646 2012-06-21 09:59:59.829893663           1  46526264    15  5754000
 12647 2012-06-21 09:59:59.830879275           3  46500621    15  5753800

        direction
 10913         -1
 10914         -1
 10915         -1
 10916         -1
 10917         -1
 ...          ...
 12643         -1
 12644         -1
 12645          1
 12646          1
 12647          1

 [1735 rows x 6 columns],
                                time  event_type  order_id  size    price  \
 12648 2012-06-21 10:00:00.047007160           3  46516287    15  5761000
 12649 2012-06-21 10:00:00.047039856           1  46531975    15  5755400
 12650 2012-06-21 10:00:00.071748820           3  46516015    15  5761100
 12651 2012-06-21 10:00:00.071753454           3  46526254    15  5753900
 12652 2012-06-21 10:00:00.080964669           1  46533758    15  5762500
 ...                             ...         ...       ...   ...      ...
 15891 2012-06-21 10:04:58.215214028           3  53431808   100  5745300
 15892 2012-06-21 10:04:58.355097686           3  53743433   100  5753900
 15893 2012-06-21 10:04:59.641020729           3  53741722   100  5746400
 15894 2012-06-21 10:04:59.641020729           1  53769131   100  5746000
 15895 2012-06-21 10:04:59.641280923           1  53769136    11  5753900

        direction
 12648         -1
 12649          1
 12650         -1
 12651          1
 12652         -1
 ...          ...
 15891          1
 15892         -1
 15893          1
 15894          1
 15895         -1

 [3248 rows x 6 columns],
                                time  event_type  order_id  size    price  \
 15896 2012-06-21 10:05:00.142235545           5         0     1  5749700
 15897 2012-06-21 10:05:00.169770165           3  53769131   100  5746000
 15898 2012-06-21 10:05:00.169770165           1  53784477   100  5745500
 15899 2012-06-21 10:05:00.189958150           3  53784477   100  5745500
 15900 2012-06-21 10:05:00.189958150           1  53791944   100  5745300
 ...                             ...         ...       ...   ...      ...
 19294 2012-06-21 10:09:58.574382279           3  59269680    14  5748900
 19295 2012-06-21 10:09:58.793566407           1  59283227   100  5758800
 19296 2012-06-21 10:09:58.921060664           1  59284188    14  5750500
 19297 2012-06-21 10:09:58.922068045           3  59275273    14  5749200
 19298 2012-06-21 10:09:59.001026527           3  59081077    12  5756200

        direction
 15896          1
 15897          1
 15898          1
 15899          1
 15900          1
 ...          ...
 19294          1
 19295         -1
 19296          1
 19297          1
 19298         -1

 [3403 rows x 6 columns],
                                time  event_type  order_id  size    price  \
 19299 2012-06-21 10:10:00.380666328           1  59298342    14  5750600
 19300 2012-06-21 10:10:00.381659023           3  59280959    14  5750400
 19301 2012-06-21 10:10:01.281304834           3  58947084   100  5748500
 19302 2012-06-21 10:10:01.281753076           1  59312018    11  5756000
 19303 2012-06-21 10:10:01.282956812           3  59298342    14  5750600
 ...                             ...         ...       ...   ...      ...
 22089 2012-06-21 10:14:59.255911916           1  63326124   100  5759600
 22090 2012-06-21 10:14:59.633347723           1  63330943    12  5758000
 22091 2012-06-21 10:14:59.634450586           3  63289576    12  5758200
 22092 2012-06-21 10:14:59.804456582           1  63333893    12  5757900
 22093 2012-06-21 10:14:59.805524958           3  63319193    12  5758100

        direction
 19299          1
 19300          1
 19301          1
 19302         -1
 19303          1
 ...          ...
 22089         -1
 22090         -1
 22091         -1
 22092         -1
 22093         -1

 [2795 rows x 6 columns],
                                time  event_type  order_id  size    price  \
 22094 2012-06-21 10:15:00.851227343           1  63350103    12  5757800
 22095 2012-06-21 10:15:00.852249401           3  63330943    12  5758000
 22096 2012-06-21 10:15:01.320798258           1  63362172    12  5757700
 22097 2012-06-21 10:15:01.322328855           3  63333893    12  5757900
 22098 2012-06-21 10:15:01.349634618           3  62230419   100  5757600
 ...                             ...         ...       ...   ...      ...
 24083 2012-06-21 10:19:57.955365739           3  67018928    12  5757000
 24084 2012-06-21 10:19:57.955432466           1  67022328    12  5761700
 24085 2012-06-21 10:19:58.694528057           3  67022328    12  5761700
 24086 2012-06-21 10:19:58.694572369           1  67029734    12  5757000
 24087 2012-06-21 10:19:59.053033316           3  64080178   100  5764200

        direction
 22094         -1
 22095         -1
 22096         -1
 22097         -1
 22098         -1
 ...          ...
 24083          1
 24084         -1
 24085         -1
 24086          1
 24087         -1

 [1994 rows x 6 columns],
                                time  event_type  order_id  size    price  \
 24088 2012-06-21 10:20:00.238207638           1  67047110    11  5761800
 24089 2012-06-21 10:20:00.243798593           3  67029734    12  5757000
 24090 2012-06-21 10:20:00.243900105           1  67047944    12  5761700
 24091 2012-06-21 10:20:00.403345790           1  67051212   100  5763700
 24092 2012-06-21 10:20:00.632456763           3  66989085   500  5756900
 ...                             ...         ...       ...   ...      ...
 26009 2012-06-21 10:24:54.863130915           1  70603753    13  5756400
 26010 2012-06-21 10:24:54.959237041           1  70605706    13  5756500
 26011 2012-06-21 10:24:55.703683566           3  70562525    30  5766200
 26012 2012-06-21 10:24:55.706304131           1  70611391    30  5765900
 26013 2012-06-21 10:24:57.443728792           3  70444984     1  5758700

        direction
 24088         -1
 24089          1
 24090         -1
 24091         -1
 24092          1
 ...          ...
 26009          1
 26010          1
 26011         -1
 26012         -1
 26013          1

 [1926 rows x 6 columns],
                                time  event_type  order_id  size    price  \
 26014 2012-06-21 10:25:00.248050340           1  70637686   100  5761800
 26015 2012-06-21 10:25:00.254902758           3  70262458   100  5758700
 26016 2012-06-21 10:25:00.255065528           1  70637729   200  5756600
 26017 2012-06-21 10:25:00.255077136           3  70297593    11  5758000
 26018 2012-06-21 10:25:00.255116988           1  70637731   200  5756600
 ...                             ...         ...       ...   ...      ...
 28398 2012-06-21 10:29:59.744090440           1  74168636    13  5753900
 28399 2012-06-21 10:29:59.765730407           3  74141583   100  5753900
 28400 2012-06-21 10:29:59.782947923           3  74168636    13  5753900
 28401 2012-06-21 10:29:59.782972623           3  74065232    13  5752400
 28402 2012-06-21 10:29:59.783042282           1  74175439    13  5759200

        direction
 26014         -1
 26015          1
 26016          1
 26017          1
 26018          1
 ...          ...
 28398          1
 28399          1
 28400          1
 28401          1
 28402         -1

 [2389 rows x 6 columns],
                                time  event_type  order_id  size    price  \
 28403 2012-06-21 10:30:00.258128189           3  72977285   100  5760600
 28404 2012-06-21 10:30:01.672151007           1  74220609    12  5758900
 28405 2012-06-21 10:30:01.687411618           3  74065389    13  5752500
 28406 2012-06-21 10:30:01.687502994           1  74225016    13  5758000
 28407 2012-06-21 10:30:01.734393232           1  74228714    13  5751300
 ...                             ...         ...       ...   ...      ...
 31629 2012-06-21 10:34:56.616951127           3  77728901   100  5754400
 31630 2012-06-21 10:34:57.340222144           3  77944429     2  5755100
 31631 2012-06-21 10:34:57.350161335           1  78020039     2  5755500
 31632 2012-06-21 10:34:57.350389844           3  77943689     5  5754700
 31633 2012-06-21 10:34:57.350433539           3  77895951     5  5754600

        direction
 28403         -1
 28404         -1
 28405          1
 28406         -1
 28407          1
 ...          ...
 31629          1
 31630          1
 31631          1
 31632          1
 31633          1

 [3231 rows x 6 columns],
                                time  event_type  order_id  size    price  \
 31634 2012-06-21 10:35:01.198443007           3  77964656   100  5752300
 31635 2012-06-21 10:35:01.201992865           3  77964658   100  5752300
 31636 2012-06-21 10:35:01.214200176           3  77964655    13  5755000
 31637 2012-06-21 10:35:01.214294262           1  78064741    14  5759500
 31638 2012-06-21 10:35:01.214431505           1  78064763   100  5760700
 ...                             ...         ...       ...   ...      ...
 33251 2012-06-21 10:39:56.064452599           1  81359716    97  5755300
 33252 2012-06-21 10:39:56.458931105           1  81362638    11  5755600
 33253 2012-06-21 10:39:56.459566458           3  81336978    11  5755800
 33254 2012-06-21 10:39:58.065166600           1  81371873    11  5755500
 33255 2012-06-21 10:39:58.066194333           3  81346037    11  5755700

        direction
 31634          1
 31635          1
 31636          1
 31637         -1
 31638         -1
 ...          ...
 33251         -1
 33252         -1
 33253         -1
 33254         -1
 33255         -1

 [1622 rows x 6 columns],
                                time  event_type  order_id  size    price  \
 33256 2012-06-21 10:40:00.976050457           1  81395441    11  5755300
 33257 2012-06-21 10:40:00.981826823           3  81346015    11  5751000
 33258 2012-06-21 10:40:00.981898672           1  81397117    11  5755300
 33259 2012-06-21 10:40:00.998667414           3  81346009     5  5751000
 33260 2012-06-21 10:40:01.007243543           3  81342536    11  5750700
 ...                             ...         ...       ...   ...      ...
 36483 2012-06-21 10:44:59.728709446           1  84556517    11  5756700
 36484 2012-06-21 10:44:59.728756981           1  84556524   100  5756500
 36485 2012-06-21 10:44:59.777654091           3  84556517    11  5756700
 36486 2012-06-21 10:44:59.777680222           3  84521659    11  5755400
 36487 2012-06-21 10:44:59.777746546           1  84560088    11  5761800

        direction
 33256         -1
 33257          1
 33258         -1
 33259          1
 33260          1
 ...          ...
 36483          1
 36484          1
 36485          1
 36486          1
 36487         -1

 [3232 rows x 6 columns],
                                time  event_type  order_id  size    price  \
 36488 2012-06-21 10:45:00.286334176           3  84560088    11  5761800
 36489 2012-06-21 10:45:00.286406088           1  84568451    14  5756600
 36490 2012-06-21 10:45:00.307116415           1  84569630    14  5763100
 36491 2012-06-21 10:45:00.492256937           1  84575995    14  5761700
 36492 2012-06-21 10:45:00.492272201           3  84568451    14  5756600
 ...                             ...         ...       ...   ...      ...
 38566 2012-06-21 10:49:57.354186938           1  87421190    11  5747100
 38567 2012-06-21 10:49:57.402648985           3  87416831    11  5747900
 38568 2012-06-21 10:49:57.468240635           1  87422762   100  5750800
 38569 2012-06-21 10:49:57.604088142           4  87422762   100  5750800
 38570 2012-06-21 10:49:58.324178800           1  87428834    11  5747200

        direction
 36488         -1
 36489          1
 36490         -1
 36491         -1
 36492          1
 ...          ...
 38566          1
 38567          1
 38568         -1
 38569         -1
 38570          1

 [2083 rows x 6 columns],
                                time  event_type  order_id  size    price  \
 38571 2012-06-21 10:50:00.145281573           3  87279590   100  5752000
 38572 2012-06-21 10:50:00.145417620           1  87437513   100  5750900
 38573 2012-06-21 10:50:00.160928655           1  87437616   100  5748600
 38574 2012-06-21 10:50:00.162953489           3  85928118   100  5748500
 38575 2012-06-21 10:50:01.770291870           1  87446772   100  5750400
 ...                             ...         ...       ...   ...      ...
 40095 2012-06-21 10:54:57.672546162           3  90138962   100  5758500
 40096 2012-06-21 10:54:57.732225155           1  90252196   100  5761300
 40097 2012-06-21 10:54:58.799627820           3  90227938   100  5763000
 40098 2012-06-21 10:54:58.806688757           1  90262426   100  5762800
 40099 2012-06-21 10:54:59.669858691           1  90268297   100  5758500

        direction
 38571         -1
 38572         -1
 38573          1
 38574          1
 38575          1
 ...          ...
 40095          1
 40096          1
 40097         -1
 40098         -1
 40099          1

 [1529 rows x 6 columns],
                                time  event_type  order_id  size    price  \
 40100 2012-06-21 10:55:01.225803387           5         0   100  5761500
 40101 2012-06-21 10:55:01.225931428           4  90202127     1  5761300
 40102 2012-06-21 10:55:01.225931428           4  90252196    99  5761300
 40103 2012-06-21 10:55:01.226079730           4  90252196     1  5761300
 40104 2012-06-21 10:55:01.226085395           3  90131802   100  5766800
 ...                             ...         ...       ...   ...      ...
 42396 2012-06-21 10:59:58.607931278           3  93232904     3  5757600
 42397 2012-06-21 10:59:59.018574648           3  93391433   100  5750700
 42398 2012-06-21 10:59:59.019631004           1  93400771   100  5751600

In [646]:
pd.concat([m_real, b_real], axis=1).groupby(
    pd.Grouper(key='time', freq='5s')
)